.product_container {
	display: flex;
	flex-flow: row wrap;
	align-self: start;
	justify-content: center;
	align-items: center;
	padding: 25px;
	position: relative;
	width: 100%;
}

.back {
	position: absolute;
	left: 0;
	top: 0;
	text-decoration: underline;
	font-weight: bold;
}

.wrapper {
	display: flex;
	flex-flow: column wrap;
	align-self: start;
	justify-content: center;
	padding: 25px;
	border: 1px solid gray;
	border-radius: 20px;
	width: 100%;
}

.product_title {
	font-size: 2rem;
	font-weight: bold;
	text-align: left;
}

.body {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-around;
	gap: 30px;
	width: 100%;
}

.price {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	border: 1px solid red;
	background-color: red;
	border-radius: 15px;
	color: whitesmoke;
}

.buy {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	border: 1px solid green;
	background-color: green;
	border-radius: 15px;
	height: 30px;
	color: whitesmoke;
	cursor: pointer;
}

.buy:hover {
	scale: 1.05;
}

.description {
	display: flex;
	flex-flow: column;
	gap: 10px;
}

.description > * {
	font-size: 16px;
	font-weight: 450;
}

.preview {
	width: 100%;
	width: 350px;
	height: 350px;
	cursor: pointer;
}

.image_container {
	display: flex;
	flex-flow: column;
	gap: 15px;
}

.image_gallery {
	display: flex;
	justify-content: space-around;
}

.image_gallery_item {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.product_container {
		width: 90%;
	}
}
